stages:
  - build
  - test
  - deploy
build:
    stage: build
    tags:
     - ugrad
    script:
     - echo "Build stage"
     - mvn compile
test:
    stage: test
    tags:
     - ugrad
    script:
     - echo "Test stage"
     - mvn test
    artifacts:
      when: always
      reports:
        junit:
          - $CI_PROJECT_DIR/target/surefire-reports/TEST-*.xml
          - $CI_PROJECT_DIR/target/failsafe-reports/TEST-*.xml
heroku:
 stage: deploy
 script:
  #git remote add heroku https://heroku:$HEROKU_API_KEY@git.heroku.com/<projectsoccerconnectteam15>.git
 - git push -f heroku master

   
