<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organize a Game</title>
</head>
<body>
<h2>Game Organization</h2>
<form th:action="@{/organize}" method="post">
    <p>Category : <input type="text" th:name="category" /></p>
    <p>Team 1: <input type="text" th:name="Team1" /></p>
    <p>Team 2: <input type="text" th:name="Team2" /></p>
    <p>Stadium: <input type="text" th:name="stadium" /></p>
    <p>Date: <input type="date" th:name="date" /></p>
    <p>Time: <input type="time" th:name="Time" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>
