<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Player leave team</h1>
    <form th:action="@{/removeTeam}" method="post">
        <table>
            <tr>
                <th>Player</th>
                <th>Status</th>
            </tr>
            <tr th:each="team : ${playersTeam}">
                <td th:text="${team.value}"/>
                <td><button type="submit" th:value="${team.key}" name="player">Leave Team</button></td>
            </tr>
        </table>
    </form>
</body>
</html>