<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Player Stats</h1>

        <h1 th:text="${playerStats.get('Name')}"></h1>
            <p>
                <td>No. of matches: </td>
                <b><td th:text="${playerStats.get('No. of matches')}" style="font-weight: bold"></td></b>
            </p>
            <p>
                <td>Goals: </td>
                <b><td th:text="${playerStats.get('Goals')}" style="font-weight: bold"></td></b>
            </p>
                <td>Assists: </td>
                <b><td th:text="${playerStats.get('Assists')}" style="font-weight: bold"></td></b>
            <p>
                <td>Goals saved: </td>
                <b><td th:text="${playerStats.get('Goals saved')}" style="font-weight: bold"></td></b>
            </p>
            <p>
                <td>Yellow cards: </td>
                <b><td th:text="${playerStats.get('Yellow cards')}" style="font-weight: bold"></td></b>
            </p>
            <p>
                <td>Red cards: </td>
                <b><td th:text="${playerStats.get('Red cards')}" style="font-weight: bold"></td></b>
            </p>
            <p>
                <td>Man of the match: </td>
                <b><td th:text="${playerStats.get('Man of the match')}" style="font-weight: bold"></td></b>
            </p>

</body>
</html>