<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soccer Connect</title>
</head>
<h2>Team Stats</h2>
<body>
    <table>
    <tr>
        <th>Number of Matches</th>
        <th>Goals</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
    </tr>
    <tr>
        <td th:text="${teamStats[0]}"/>
        <td th:text="${teamStats[1]}"/>
        <td th:text="${teamStats[2]}"/>
        <td th:text="${teamStats[3]}"/>
        <td th:text="${teamStats[4]}"/>
    </tr>
    </table>
</body>
</html>