<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soccer Connect</title>
</head>
<body>
<p>Sent:</p>
<table>
    <tr>
        <th>Team Name</th>
        <th>Status</th>
    </tr>
    <tr th:each="request : ${requests}">
        <td th:text="${request.key}"/>
        <td th:text="${request.value}"/>
    </tr>
</table>
<p>Received:</p>
<form th:action="@{/acceptTeamRequest}" method="post">
    <table>
        <tr>
            <th>Team Name</th>
            <th>Status</th>
        </tr>
        <tr th:each="request : ${requestsReceived}">
            <td th:text="${request.value}"/>
            <td><button type="submit" th:value="${request.key}" name="acceptReqId_Team">Accept Request</button></td>
        </tr>
    </table>
    </form>
</body>
</html>